<div class="HomeTop">
  <div class="HomeTopImg">
    <img src="images/bg/bg.jpg">
  </div>
  <div class="Boxx HomeTopInner "> 
    <div class="gBox EOptionHead" ng-class="{'active':main.homeTop,'hide':main.HomeScroll}">  
      <div class="g1"><div class="innerGrid" ng-class="main.getBG()"></div><div class="innerText"ng-class="main.getGridColor()">Best In Quality</div></div>

      <div class="g2 g2-1"><div class="innerGrid" ng-class="main.getBG()"></div><div class="innerText"ng-class="main.getGridColor()">Stunning Recipies</div></div>
      <div class="g2 g2-2"><div class="innerGrid" ng-class="main.getBG()"></div><div class="innerText"ng-class="main.getGridColor()">We Got What You Need</div></div>

      <div class="g3 g3-1"><div class="innerGrid" ng-class="main.getBG()"></div></div>
      <div class="g3 g3-2"><div class="innerGrid" ng-class="main.getBG()"></div></div>



      <div class="EOption">
        <div ng-click="main.EOGridClick(1)" class="red"></div>
        <div ng-click="main.EOGridClick(2)" class="yellow"></div>
        <div ng-click="main.EOGridClick(3)" class="trans"></div>
        <div ng-click="main.EOGridClick(4)" class="white"></div>
        <div ng-click="main.EOGridClick(5)" class="black"></div>
      </div>
      <div class="EOption" style="top:40px">
        <div ng-click="main.EOGridColorClick(1)" class="red"></div>
        <div ng-click="main.EOGridColorClick(2)" class="yellow"></div> 
        <div ng-click="main.EOGridColorClick(4)" class="white"></div>
        <div ng-click="main.EOGridColorClick(5)" class="black"></div>
      </div>

    </div> 
  </div>
</div>
<div class="HomeMid">
  <div class="HM-mTop"><div></div></div> <!-- Tilted div -->
  <div class="HM-mBottom"><div></div></div> <!-- Tilted div -->

  <div class="Boxx ">
    <div class="HM-Block HMB1" ng-class="{'Block-active':main.HMB1}">
      <div class="imgBox "><img src="images/icons/icon1.png"></div> 
      <h5>Alfajr Supply</h5>
      <p>Alfajr supply is a perfect supermaker for you, and your family .This is only some fake text which is fills this space.Alfajr supply is a perfect supermaker for you, and your family .This is only some fake text which is fills this space.</p> 
    </div>

    <div class="HM-Block HMB2" ng-class="{'Block-active':main.HMB2}">
      <div class="imgBox float-r"><img src="images/icons/icon2.png"></div> 
      <h5 class="bg-text-r float-r">Food Supply</h5>
      <p class="p-right">Food supply is a perfect supermaker for you, and your family.This is only some fake text which is fills this space.Alfajr supply is a perfect supermaker for you, and your family .This is only some fake text which is fills this space.</p> 
    </div>

  </div>
</div>
<div class="HomeBottom" ng-class="main.EOHomeMid()">
  <div class="Boxx EOptionHead b-p-rel">
    <div class="HB-Block">
      <div class="head">Try Our Awesome Food Supply</div>
      <div class="mid"><div class="imgBox"><img src="images/icons/icon3.png"></div></div>
      <div class="foot">
        <h4>Start at just 340 AED</h4>
        <p>For larg order we are giving upto 30%</br> FLAT off. HURRY UP !!!</p>
        <p>Grab your deal</p>
      </div>
    </div>

    <div class="footerTop">
      <div class="linkSet linkSetLeft">
        <div class="left">
          <div>NEWS</div>
          <div>NEW FEATURES</div>
          <div>ENQUIRY</div>
          <div>POLICY</div>
          <div>CONTACT US</div>
        </div>
        <div class="right">
          <div>ENQUIRY</div>
          <div>ABOUT US</div>
          <div>CONTACT US</div>
          <div>FOOD DELIVERY</div>
          <div>POLICY</div>
        </div>
      </div>

      <div class="FT-logo" ng-click="main.scrollToTop()">
        <img class="img1" src="images/logo/logoPart1.png">
        <img class="img2" src="images/logo/logoPart2.png">
      </div> 

      <div class="linkSet linkSetRight">
        <div class="left">
          <div>PRIVACY POLICY</div>
          <div>FOOD DELIVERY</div>
          <div>CONTACT US</div>
          <div>POLICY</div>
          <div>ABOUT US</div>
        </div>
        <div class="right">
          <div>DELIVERY SYSTEM</div>
          <div>QUICK ENQUIRY</div>
          <div>ENQUIRY</div>
          <div>POLICY</div>
          <div>LATAEST NEWS</div>
        </div>
      </div>
    </div> 

    <div class="EOption">
      <div ng-click="main.EOHomeMidClick(1)" class="red"></div>
      <div ng-click="main.EOHomeMidClick(2)" class="yellow"></div>
      <div ng-click="main.EOHomeMidClick(3)" class="trans"></div>
      <div ng-click="main.EOHomeMidClick(4)" class="white"></div>
      <div ng-click="main.EOHomeMidClick(5)" class="black"></div>
    </div>

    <div class="EOption" style="top:40px"> 
      <div ng-click="main.EOHomeMidColorClick(4)" class="white"></div>
      <div ng-click="main.EOHomeMidColorClick(2)" class="gray"></div>
      <div ng-click="main.EOHomeMidColorClick(3)" class="trans"></div>
      <div ng-click="main.EOHomeMidColorClick(5)" class="black"></div>
    </div>

  </div>
</div>